{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "disableLanguages": ["json", "css", "scss"],
  "printWidth": 80
}
